body {
  background-color: cyan;
}

h1 {
  height: 50px;
  background-color: yellow;
  color: navy;
}

h2 {
  color: blue;
  background-color: beige;
  height: 40px;
}

p:hover {
  color: yellow;
  background-color: navy;
  text-decoration: underline;
}

h2:hover {
  color: gold;
  text-align: right;
  background-color: maroon;
  height: 80px;
  margin-right: 25%;
  margin-left: 25%;
  padding-top: 35px;
}
